.button-container{
    display: flex;
    gap: 1em;

    button{
        border-radius: 5px;
        font-size: 1.2rem;
        padding-inline: 1em;
        padding-block: 0.5em;
        background-color: rgb(65, 4, 163);
        color: white;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: rgb(98, 0, 255);
        }
    }
}

@media only screen and (max-width: 510px) {
    .button-container{
        gap: .5em;
    
        button{
            font-size: 1.1rem;
        }
    }
}